@import "./components/inspector/Inspector/Inspector";
@import "./components/inspector/BaseIInput/BaseIInput";
@import "./components/inspector/BaseILabel/BaseILabel";
@import "./components/inspector/BaseISelect/BaseISelect";
@import "./components/inspector/BaseISeparator/BaseISeparator";
@import "./components/inspector/BaseISwitch/BaseISwitch";

html,
body,
#root {
    font: normal 12px Arial, sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}


footer {
    margin-top: 20px;

    a {
        padding: 5px 10px 5px 0;
    }
}